<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hotel_Booking_App">
        <activity
            android:name=".ui.activities.AdminHotelFormActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AdminBookingManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AdminAppSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AccountHubActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ChatThreadActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AiChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ConversationListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.NotificationCenterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ProfileDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.BookingInvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.PaymentHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.BookingPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.BookingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.BookingEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SavedHotelsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.HostHotelDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.GuestBookingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.BookingCreateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.HotelDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.HotelSearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.HotelMapActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.OAuthBrowserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.HomeRedirectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="auth"
                    android:path="/callback"
                    android:scheme="hotelbookingapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.PasswordResetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
